@using VgcCollege.Domain.Models
@model CourseEnrolment
@{
    ViewData["Title"] = "Enrol Student";
}

<h2>Enroll Student</h2>
<hr />

<div class="row">
    <div class="col-md-5">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-group mb-3">
                <label class="control-label">Student</label>
                <select name="StudentProfileId" class="form-control" asp-items="ViewBag.StudentId">
                    <option value="">-- Select Student --</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Course</label>
                <select name="CourseId" class="form-control" asp-items="ViewBag.CourseId">
                    <option value="">-- Select Course --</option>
                </select>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Enrol" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
            </div>
        </form>
    </div>
</div>