@model IEnumerable<VgcCollege.Domain.Models.Assignment>

@{
    ViewData["Title"] = "Assignments";
    int courseId = ViewBag.CourseId;
}

<h1>Assignments</h1>

<p>
    <a asp-action="SelectCourse" class="btn btn-secondary">Back to Courses</a>
</p>

<table class="table">
    <thead>
    <tr>
    <th>Title</th>
    <th>Max Score</th>
    <th>Due Date</th>
    <th>Actions</th>
    </thead>
    <tbody>
    @foreach (var assignment in Model)
    {
        <tr>
            <td>@assignment.Title</td>
            <td>@assignment.MaxScore</td>
            <td>@assignment.DueDate.ToShortDateString()</td>
            <td><a asp-action="Results" asp-route-assignmentId="@assignment.Id" class="btn btn-primary">Enter/View Results</a></td>
        </tr>
    }
    </tbody>
</table>